/* setting background design */
body {
    background: linear-gradient(to right, black, gray, black);
    margin: 0;
} 

/* styling for navigation bar */
nav{
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px 14px;
} 

/* styling for a tags */
a {
    text-decoration: none;
    color: inherit;
}

/* styling for the name in navigation bar */
.web-name{
    width: 30%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px; 
    color: white; 
}

/* styling for all the information tabs in navigation bar */
.menu-items{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px; 
    color: white; 
}

/* letter spacing for all navigation bar tabs */ 
.name, .work, .projects, .github, .information {
    letter-spacing: 1px;
}

/* flexbox styling for work container */
.work-container, work2-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 70px;
    width: 100%;
}

/* styling for aura container */
.aura-container, .cmu-container {
    display: flex; 
    align-items: center; 
    width: 60%; 
}

/* styling for aura and cmu text container */
.aura-text, .cmu-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 4px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

/* styling for images for aura, cmu, and profile */ 
.aura, .cmu, .profile-image {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

/* styling for aura and cmu title */ 
.aura-title, .cmu-title {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 4px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

/* styling for aura description part 1 and cmu description */
.aura-desc1, .cmu-desc {
    font-size: 20px;
    color: white;
}

/* styling for aura description part 2*/
.aura-desc2 {
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

/* setting the main project container to flex */ 
.main-project-container {
    display: flex; 
}

/* styling individual containers for each project */ 
.project1-container, .project2-container {
    display: flex;
    justify-content: center; 
    width: 80%; 
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
}

/* styling individual sub-containers for each project */ 
.right-project1-container, .right-project2-container {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    flex: 1;
    text-shadow: 3px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    margin-top: 10px;
}

/* styling container for personal information */ 
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* styling for introduction and caption underneath resume */
.introduction, .caption {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 25px;
    text-shadow: 3px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

/* styling for resume container */
.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}

/* styling for resume image (google docs logo) */ 
.resume-logo {
    width: 100px;
    height: 140px;
    border: 5px solid black;
}

/* styling to make navigation bar responsive */ 
@media (max-width: 1200px) {
    .web-name{
        width: 30%;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px; 
    }

    .menu-items{
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Rajdhani', sans-serif;
        font-size: 20px; 
        color: white; 
    }
}

@media (max-width: 600px) {
    .web-name{
        width: 18%;
        font-family: 'Titillium Web', sans-serif;
        font-size: 13px; 
    }

    .menu-items{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Rajdhani', sans-serif;
        font-size: 12px; 
        color: white; 
    }

    .info-container{
        margin-top: 80px;
    }

    .introduction{
        font-size: 16px;
        margin: 2px 8px;
    }

    .caption{
        font-size: 16px;
    }

    .project1-container, .project2-container {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .aura-container {
        width: 90%; 
    }

    .cmu-container {
        width: 90%; 
    }

    .aura-title {
        font-size: 24px;
    }
    
    .aura-desc1 {
        font-size: 16px;
    }
    
    .aura-desc2 {
        font-size: 16px;
    }

    .cmu-title {
        font-size: 24px;
    }
    
    .cmu-desc {
        font-size: 16px;
    }

    iframe{
        width: 350px;
    }
    
}