*{
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background: linear-gradient(to right, black, gray, black);
    margin: 0;
} 

nav{
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px 14px;
} 

a {
    text-decoration: none;
    color: inherit;
}

.web-name{
    width: 30%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px; 
}

.menu-items{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px; 
    color: white; 
}

.name {
    color: white; 
    letter-spacing: 1px;
    font-weight: lighter;
}

.work {
    letter-spacing: 1px;
}

.projects {
    letter-spacing: 1px;
}

.github {
    letter-spacing: 1px;
}

.information {
    letter-spacing: 2px;
}

.model-instruction{
    letter-spacing: 2px;
}

.work-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 70px;
    width: 100%;
}

.aura-container {
    display: flex; 
    align-items: center; 
    width: 60%; 
}

.aura-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 4px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.aura {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.aura-title {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 4px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.aura-desc1 {
    font-size: 20px;
    color: white;
}

.aura-desc2 {
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

.work2-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 70px;
    width: 100%;
}

.cmu-container {
    display: flex; 
    align-items: center; 
    width: 60%; 
}

.cmu-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 4px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.cmu {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.cmu-title {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.cmu-desc {
    font-size: 20px;
    color: white;
}

.main-container {
    display: flex; 
}

.project1-container, .project2-container {
    display: flex;
    justify-content: center; 
    width: 80%; 
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
}

.right-project1-container, .right-project2-container {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    flex: 1;
    text-shadow: 3px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    margin-top: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.introduction {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 25px;
    text-shadow: 3px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}

.resume-logo {
    width: 100px;
    height: 140px;
    border: 5px solid black;
}

.caption {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 25px;
    text-shadow: 3px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

@media (max-width: 1200px) {
    .web-name{
        width: 30%;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px; 
    }

    .menu-items{
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Rajdhani', sans-serif;
        font-size: 20px; 
        color: white; 
    }
}

@media (max-width: 600px) {
    .web-name{
        width: 18%;
        font-family: 'Titillium Web', sans-serif;
        font-size: 13px; 
    }

    .menu-items{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Rajdhani', sans-serif;
        font-size: 12px; 
        color: white; 
    }

    .info-container{
        margin-top: 80px;
    }

    .introduction{
        font-size: 16px;
        margin: 2px 8px;
    }

    .caption{
        font-size: 16px;
    }

    .project1-container, .project2-container {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .aura-container {
        width: 90%; 
    }

    .cmu-container {
        width: 90%; 
    }

    .aura-title {
        font-size: 24px;
    }
    
    .aura-desc1 {
        font-size: 16px;
    }
    
    .aura-desc2 {
        font-size: 16px;
    }

    .cmu-title {
        font-size: 24px;
    }
    
    .cmu-desc {
        font-size: 16px;
    }
    
    iframe{
        width: 350px;
    }
    
}